{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
<link href="{% static 'css/Fiesta/style_entretenimiento.css' %}" rel="stylesheet" />
<link href="{% static 'css/Fiesta/style_comidas.css' %}" rel="stylesheet" />
{% endblock title %}

{% block content %}
	{% include "Pareja/secciones/prendaEnamorado1.html" %}
	{% include "Pareja/secciones/bellezaEnamorado1.html" %}
	{% include "Pareja/secciones/accesorioEnamorado1.html" %}
	{% include "Pareja/secciones/precio.html" %}
	

{% endblock content %}



