{% extends "base/base.html" %}
	{% block name_mod %}
		<div class="card-header border-dark">
	    	Resumen de tu boda
	  	</div>	
	{% endblock name_mod %}

	{% block content %}

	<div class="card border-dark mb-2">
		<div class="card-header bg-transparent">
			<div class="row justify-content-between">
				<div class="col">
					<h4>Fiesta</h4>
				</div>
				<div class="col text-right">
					<span class="btn" data-toggle="collapse" data-target="#collapseFiesta" aria-expanded="false" aria-controls="collapseFiesta">
						<i class="material-icons">expand_more</i>
	  				</span>
				</div>
			</div>
	  	</div>
	  	<div class="collapse" id="collapseFiesta">
	 		<div class="card-body">
	 			<div class="container">
	 			  <div class="row">
	 			  	<div class="col text-left">
	 			  	{% if not fiesta.Fotos %}
		 			  	<h5 class="font-italic text-danger">* No se han asignado "Fotos"</h5>
	 			  	{% endif %}

	 			  	{% if fiesta.Lugar is None %}
		 			  	<h5 class="font-italic text-danger">* No se ha asignado "Lugar"</h5>
			    	{% endif %}
			    	{% if not precio_entre.0 %}
			    		<h5 class="font-italic text-danger">* No se han asignado "Entretenimientos"</h5>
			    	{% endif %}
			    	{% if not precio_alim.0 %}
			    		<h5 class="font-italic text-danger">* No se han asignado "Alimentos"</h5>
			    	{% endif %}
			      </div>
	 			</div>
				  <div class="row mt-4">
				    <div class="col text-left">
				      <h2>Costo fiesta:</h2>
				    </div>
				    <div class="col text-right align-self-center">
				      <h1 class="font-weight-light text-info"><strong>${{precio_fiesta}}</strong></h1>
				    </div>
				  </div>
				</div>
	  		</div>
		</div>
	</div>

	<div class="card border-dark mb-2">
		<div class="card-header bg-transparent">
			<div class="row justify-content-between">
				<div class="col">
					<h4>Ceremonia</h4>
				</div>
				<div class="col text-right">
					<span class="btn" data-toggle="collapse" data-target="#collapseCeremonia" aria-expanded="false" aria-controls="collapseCeremonia">
						<i class="material-icons">expand_more</i>
	  				</span>
				</div>
			</div>
	  	</div>
	  	<div class="collapse" id="collapseCeremonia">
	 		<div class="card-body">
	 			<div class="container">
	 			<div class="row">
	 			  	<div class="col text-left">
	 			  	{% if ceremonia.Ministro is None %}
		 			  	<h5 class="font-italic text-danger">* No se ha asignado "Ministro"</h5>
	 			  	{% endif %}
	 			  	{% if ceremonia.Lugar is None %}
		 			  	<h5 class="font-italic text-danger">* No se ha asignado "Lugar"</h5>
			    	{% endif %}
			    	{% if ceremonia.Musica is None %}
			    		<h5 class="font-italic text-danger">* No se ha asignado "Música"</h5>
			    	{% endif %}
			    	{% if not ceremonia.Fotos %}
			    		<h5 class="font-italic text-danger">* No se han asignado "Fotos"</h5>
			    	{% endif %}
			    	{% if not flag_deco %}
			    		<h5 class="font-italic text-danger">* No se han asignado "Decoraciones"</h5>
			    	{% endif %}
			      </div>
	 			</div>
				  <div class="row mt-4">
				    <div class="col text-left">
				      <h2>Costo ceremonia:</h2>
				    </div>
				    <div class="col text-right align-self-center">
				      <h1 class="font-weight-light text-info"><strong>${{precio_ceremonia}}</strong></h1>
				    </div>
				  </div>
				</div>
	  		</div>
		</div>
	</div>

	<div class="card border-dark mb-2">
		<div class="card-header bg-transparent">
			<div class="row justify-content-between">
				<div class="col">
					<h4>Luna de miel</h4>
				</div>
				<div class="col text-right">
					<span class="btn" data-toggle="collapse" data-target="#collapseLuna" aria-expanded="false" aria-controls="collapseLuna">
						<i class="material-icons">expand_more</i>
	  				</span>
				</div>
			</div>
	  	</div>
	  	<div class="collapse" id="collapseLuna">
	 		<div class="card-body">
	 			<div class="container">
	 			  <div class="row">
	 			  	<div class="col text-left">
	 			  	{% if not flag_activi %}
		 			  	<h5 class="font-italic text-danger">* No se han asignado "Actividades"</h5>
	 			  	{% endif %}
	 			  	{% if not flag_hotel %}
		 			  	<h5 class="font-italic text-danger">* No se han asignado "Hoteles"</h5>
			    	{% endif %}
			      </div>
	 			</div>
				  <div class="row mt-4">
				    <div class="col text-left">
				      <h2>Costo luna de miel:</h2>
				    </div>
				    <div class="col text-right align-self-center">
				      <h1 class="font-weight-light text-info"><strong>${{precio_luna}}</strong></h1>
				    </div>
				  </div>
				</div>
	  		</div>
		</div>
	</div>

	<div class="card border-dark mb-2">
		<div class="card-header bg-transparent">
			<div class="row justify-content-between">
				<div class="col">
					<h4>Pareja</h4>
				</div>
				<div class="col text-right">
					<span class="btn" data-toggle="collapse" data-target="#collapsePareja" aria-expanded="false" aria-controls="collapsePareja">
						<i class="material-icons">expand_more</i>
	  				</span>
				</div>
			</div>
	  	</div>
	  	<div class="collapse" id="collapsePareja">
	 		<div class="card-body">
	 			<div class="container">
	 			  <div class="row mb-5">
	 			  	<div class="col-12 col-lg-6 text-lg-left mb-3">
	 			  		<h2>{{enamoradoNombre.User.first_name}} {{enamoradoNombre.User.last_name}}</h2>
	 			  		{% if not flag_belleza1 %}
	 			  			<h5 class="font-italic text-danger">* No se han asignado "Bellezas"</h5>
	 			  		{% endif %}
	 			  		{% if not flag_prenda1 %}
	 			  			<h5 class="font-italic text-danger">* No se han asignado "Prendas"</h5>
	 			  		{% endif %}
	 			  		{% if not flag_accesorio1 %}
	 			  			<h5 class="font-italic text-danger">* No se han asignado "Accesorios"</h5>
	 			  		{% endif %}
	 			  	</div>
	 			  	<div class="col-12 col-lg-6 text-lg-right">
	 			  		<h2>{{enamoradoNombre2.User.first_name}} {{enamoradoNombre2.User.last_name}}</h2>
	 			  		{% if not flag_belleza2 %}
	 			  			<h5 class="font-italic text-danger">* No se han asignado "Bellezas"</h5>
	 			  		{% endif %}
	 			  		{% if not flag_prenda2 %}
	 			  			<h5 class="font-italic text-danger">* No se han asignado "Prendas"</h5>
	 			  		{% endif %}
	 			  		{% if not flag_accesorio2 %}
	 			  			<h5 class="font-italic text-danger">* No se han asignado "Accesorios"</h5>
	 			  		{% endif %}
	 			  	</div>
	 			  </div>
				  <div class="row">
				    <div class="col text-left">
				      <h4 >Costo {{enamoradoNombre.User.first_name}}:</h4>
				    </div> 
				    <div class="col text-right align-self-center">
				     	<h3 class="font-weight-light text-info"><strong>${{precio_enamorado}}</strong></h3>
				    </div>
				  </div>
				  <div class="row">
				    <div class="col text-left ">
				      	<h4>Costo {{enamoradoNombre2.User.first_name}}:</h4>
				     </div>
				     <div class="col text-right align-self-center">
				      	<h3 class="font-weight-light text-info"><strong>${{precio_enamorado2}}</strong></h3>
				     </div>
				   </div>
				   <div class="row">
				    <div class="col text-left">
				      <h3 class="font-weight-bold">Costo total pareja:</h3>
				     </div>
				    <div class="col text-right align-self-center">
				      <h3 class="font-weight-light text-info"><strong>${{precio_pareja}}</strong></h3>
				    </div>
				  </div>
				</div>
	  		</div>
		</div>
	</div>

	<div class="container">
	  <div class="row mt-4">
	    <div class="col text-left">
	      <h2>Costo Boda:</h2>
	    </div>
	    <div class="col text-right align-self-center">
	      <h1 class="font-weight-light text-info"><strong>${{precio_boda}}</strong></h1>
	    </div>
	  </div>
	</div>


	{% endblock content %}
