<h1>SECCIÓN FOTOGRAFÍA</h1>

{% if flag_foto %}
<form method="POST"> {% csrf_token %}
	<div class="container" align="center">
		<h6>{{fiesta.Fotos.nombre}}</h6>
		<h6>{{fiesta.Fotos.descripcion}}</h6>
		<input name="price" value="{{fiesta.Fotos.precio}}" hidden>
		<button class="btn btn-danger" name="btn_value" value="delete_foto">Eliminar</button>
	</div>
</form>
{% else %}
	{% for foto in Fotos %}
		<form method="POST">{% csrf_token %}
			<div class="container" align="center">
				<h6>{{foto.nombre}}</h6>
				<h6>{{foto.descripcion}}</h6>
				<h6>${{foto.precio}}</h6>
				<input name="id_foto" value="{{foto.id}}" hidden>
				<input name="price" value="{{foto.precio}}" hidden>
				<button type="submit" class="btn btn-primary" value="add_foto" name="btn_value">Agregar</button>
			</div>
		</form>
		
	{% endfor %}	
{% endif %}
