<style type="text/css">
  .card{
    margin: 20px;
  }

  .card-body{
    text-align: center;
    justify-content: center;
  }

  .card-title{
    font-weight: bold;
  }

  .card-header-text{
    font-weight: bold;
  }

  .btn{
    font-weight: bold;
  }

  img.little{
  	width: 170px; height: 170px;
  }

  .position{
	width: 15px;
    height: 15px;;
    margin: 1%;
    display: block;
  }

</style>

{% if false %} {% comment %} Card para agregar Lugar {% endcomment %}
<div class="card">
	<div class="card-header">
		<h5 class="card-header-text">¿En donde sera tu fiesta?</h5>
	</div>
	<div class="card-body">
		<h5 class="card-title">Aún no tienes agregado un lugar para tu fiesta</h5>
		<p class="card-text">¡Presiona en buscar para escoger el lugar para tu fabulosa fiesta!.</p>
		<button class="btn btn-lg btn-primary" name="add_fotos" id="add_lugar">Buscar</button>
	</div>
</div>	
{% else %} {% comment %} Card para cambiar el lugar de la fiesta {% endcomment %}
<div class="card">
	<div class="card-header">
		<h5 class="card-header-text">¿En donde sera tu fiesta?</h5>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col">
				<h5 class="card-title">Finca 1</h5>
				<img class="card-img-top little " src="https://st-listas.20minutos.es/images/2008-05/17800/list_640px.jpg?1211661947" alt="Card image cap">
			</div>
			<div class="col">
				<h7 class="card-title">Descripción</h7>
				<p class="card-text">Lugar comodo</p>
				<h7 class="card-title">Cantidad personas</h7>
				<p class="card-text">100 personas</p>
				<h7 class="card-title">Precio</h7>
				<p class="card-text">$1.500.000</p>

				<button class="<b></b>tn btn-lg btn-success" name="del_lugar" id="del_lugar">Cambiar</button>
			</div>
		</div>
	</div>
</div>
{% endif %}