{% if True  %}
<div class="card text-center">
    <h5 class="card-header">¿Qué servirás en tu fiesta?</h5>
</div>

<div class="card card-llena-comidas">
    <img class="llena-img-comida" src="https://st-listas.20minutos.es/images/2008-05/17800/list_640px.jpg?1211661947" alt="Card image cap">
    <div class="card-body card-body-comidas">
        <h4 class="card-title; font-wight-bold">Arroz con pollo</h4>
        <p class="card-text"><strong>Descripción:</strong> Comida Caliente </p>
        <p class="card-text"><strong>Precio:</strong> $700.000 </p>
        <button type="button" class="btn btn-danger btn-lg">Eliminar</button>
    </div>
</div>

<div class="card card-llena-comidas">
    <img class="llena-img-comida" src="https://i.pinimg.com/originals/6b/e8/4f/6be84fe3d5591f226095d5a9e918c2b4.jpg" alt="Card image cap">
    <div class="card-body card-body-comidas">
        <h4 class="card-title; font-wight-bold">Pastel de boda sin azúcar 2 pisos</h4>
        <p class="card-text"><strong>Descripción:</strong> Pastel de boda </p>
        <p class="card-text"><strong>Precio:</strong> $700.000</p>
        <button type="button" class="btn btn-danger btn-lg">Eliminar</button>
    </div>
</div>

<div class="card text-center">
    <div class="card-body">
        <h4 class="card-title, tittle-center, font-weight-bold">¿Deseas agregar algo más?</h4>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ComidaModal">Añadir</button>

        <div class="modal" id="ComidaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" text-align="left">Agrega las comidas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card card-comidas">
                            <img class="img-comida" src="https://st-listas.20minutos.es/images/2008-05/17800/list_640px.jpg?1211661947" alt="Card image cap">
                            <div class="card-body card-body-comidas">
                                <h4 class="card-title; font-wight-bold">Arroz con pollo</h4>
                                <p class="card-text"><strong>Descripción:</strong> Comida Caliente </p>
                                <p class="card-text"><strong>Precio:</strong> $700.000 </p>
                                <button type="button" class="btn btn-success btn-lg">Agregar</button>
                            </div>
                        </div>

                        <div class="card card-comidas">
                            <img class="img-comida" src="https://i.pinimg.com/originals/6b/e8/4f/6be84fe3d5591f226095d5a9e918c2b4.jpg" alt="Card image cap">
                            <div class="card-body card-body-comidas">
                                <h4 class="card-title; font-wight-bold">Pastel de boda sin azúcar 2 pisos</h4>
                                <p class="card-text"><strong>Descripción:</strong> Pastel de boda </p>
                                <p class="card-text"><strong>Precio:</strong> $700.000</p>
                                <button type="button" class="btn btn-success btn-lg">Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer; align-center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% else %}
	<div class="card text-center">
  		<h5 class="card-header">¿Qué servirás en tu fiesta?</h5>
  		<div class="card-body">
    		<h4 class="card-title, tittle-center, font-weight-bold">Debes atender a tus invitados con comida de élite</h4>
    		<p class="card-text, text-center">Aún no has agredado la comida que ofrecerás durante el evento. Presiona añadir para agregar alguna.</p>
    		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ComidaModal">Añadir</button>

    		<div class="modal" id="ComidaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" text-align="left">Agrega las comidas</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <div class="card card-comidas">
					    <img class="img-comida" src="https://st-listas.20minutos.es/images/2008-05/17800/list_640px.jpg?1211661947" alt="Card image cap">
					    <div class="card-body card-body-comidas">
					      <h4 class="card-title; font-wight-bold">Arroz con pollo</h4>
					      <p class="card-text"><strong>Descripción:</strong> Comida Caliente </p>
					      <p class="card-text"><strong>Precio:</strong> $700.000 </p> 
					      <button type="button" class="btn btn-success btn-lg">Agregar</button>
					    </div>
					</div>

					<div class="card card-comidas">
					    <img class="img-comida" src="https://i.pinimg.com/originals/6b/e8/4f/6be84fe3d5591f226095d5a9e918c2b4.jpg" alt="Card image cap">
					    <div class="card-body card-body-comidas">
					      <h4 class="card-title; font-wight-bold">Pastel de boda sin azúcar 2 pisos</h4>
					      <p class="card-text"><strong>Descripción:</strong> Pastel de boda </p>
					      <p class="card-text"><strong>Precio:</strong> $700.000</p> 
					      <button type="button" class="btn btn-success btn-lg">Agregar</button>
					    </div>
					</div>
			      </div>
			      <div class="modal-footer; align-center">
			        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
			      </div>
			    </div>
			  </div>
			</div>
  		</div>
  		
	</div>
{% endif %}