<style type="text/css">
  .card{
    margin: 20px;
  }

  .card-body{
    text-align: center;
    justify-content: center;
  }

  .card-title{
    font-weight: bold;
  }

  .card-header-text{
    font-weight: bold;
  }

  .btn{
    font-weight: bold;
  }
</style>

<div class="card">
	<div class="card-header">
		<h5 class="card-header-text">¿Fotografías en tu fiesta?</h5>
	</div>
	<div class="card-body">
		<h5 class="card-title">Las fotografías para tu fiesta se encuentran desactivadas</h5>
		<p class="card-text">Si quieres que un fotógrafo esté en tu fiesta capturando cada momento, presiona Añadir.</p>
		<button class="btn btn-lg btn-primary" name="add_fotos" id="add_fotos">Añadir</button>
	</div>
</div>