<!--h1>SECCIÓN FOTOGRAFÍA</h1>

{% if flag_foto %}
<form method="POST"> {% csrf_token %}
	<div class="container" align="center">
		<h6>{{fiesta.Fotos.nombre}}</h6>
		<h6>{{fiesta.Fotos.descripcion}}</h6>
		<input name="price" value="{{fiesta.Fotos.precio}}" hidden>
		<button class="btn btn-danger" name="btn_value" value="delete_foto">Eliminar</button>
	</div>
</form>
{% else %}
	{% for foto in Fotos %}
		<form method="POST">{% csrf_token %}
			<div class="container" align="center">
				<h6>{{foto.nombre}}</h6>
				<h6>{{foto.descripcion}}</h6>
				<h6>${{foto.precio}}</h6>
				<input name="id_foto" value="{{foto.id}}" hidden>
				<input name="price" value="{{foto.precio}}" hidden>
				<button type="submit" class="btn btn-primary" value="add_foto" name="btn_value">Agregar</button>
			</div>
		</form>
		
	{% endfor %}	
{% endif %} -->
<style type="text/css">
  .card{
    margin: 20px;
  }

  .card-body{
    text-align: center;
    justify-content: center;
  }

  .card-title{
    font-weight: bold;
  }

  .card-header-text{
    font-weight: bold;
  }

  .btn{
    font-weight: bold;
  }
</style>

{% if false %} {% comment %} Card para agregar fotografias {% endcomment %}
<div class="card">
	<div class="card-header">
		<h5 class="card-header-text">¿Fotografías en tu fiesta?</h5>
	</div>
	<div class="card-body">
		<h5 class="card-title">Las fotografías para tu fiesta se encuentran desactivadas</h5>
		<p class="card-text">Si quieres que un fotógrafo esté en tu fiesta capturando cada momento, presiona Añadir.</p>
		<button class="btn btn-lg btn-primary" name="add_fotos" id="add_fotos">Añadir</button>
	</div>
</div>	
{% else %} {% comment %} Card para quitar las fotografias {% endcomment %}
<div class="card">
	<div class="card-header">
		<h5 class="card-header-text">¿Fotografías en tu fiesta?</h5>
	</div>
	<div class="card-body">
		<h5 class="card-title">Las fotografías para tu fiesta se encuentran activadas</h5>
		<p class="card-text">Tus recuerdos quedaran plasmados en fotografías de alta calidad.</p>
		<button class="btn btn-lg btn-danger" name="del_fotos" id="del_fotos">Remover</button>
	</div>
</div>
{% endif %}
