<!DOCTYPE html>
<html lang="es">
<head>
	{% load staticfiles %}
	{% block title %}
	{% endblock title %}

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:400|Lato:300,400' rel='stylesheet' type='text/css'>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{% static "css/base.css" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

</head>
<body style="height: 100%;">
	<div class="header">
		<div><img src="{% static 'images/base/icon.png' %}"></div>
	</div>
	<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="{% static "js/bootstrap.min.js" %}"></script>

	{% block scripts %}
	{% endblock scripts %}
	<div class="row">
		<div class="col-2">
			<div class="contenedor-menu">
				<div class="corazon">
					<img src="{% static 'images/base/corazon.jpg' %}">
				</div>
				<ul class="menu">
					<li><a href="#">Enamorado</a>
						<ul><a href="#">Prenda</a></ul>
						<ul><a href="#">Accesorio</a></ul>
						<ul><a href="#">Belleza</a></ul>
					</li>
					<li><a href="#">Enamorado</a>
						<ul><a href="#">Prenda</a></ul>
						<ul><a href="#">Accesorio</a></ul>
						<ul><a href="#">Belleza</a></ul>
					</li>
					<li><a href="#">Ceremonia</a>
						<ul><a href="#">Lugar</a></ul>
						<ul><a href="#">Música</a></ul>
						<ul><a href="#">Ministro</a></ul>
						<ul><a href="#">Decoración</a></ul>
					</li>
					<li><a href="#">Fiesta</a>
						<ul><a href="#">Lugar</a></ul>
						<ul><a href="#">Entretenimiento</a></ul>
						<ul><a href="#">Fotografía</a></ul>
						<ul><a href="#">Alimentación</a></ul>
					</li>
					<li><a href="#">Luna de miel</a>
						<ul><a href="#">Item 1</a></ul>
						<ul><a href="#">Item 2</a></ul>
						<ul><a href="#">Item 3</a></ul>
						<ul><a href="#">Item 4</a></ul>
					</li>
					<li><a href="#">Resumen</a></li>
				</ul>
			</div>
		</div>
		<div class="col-10">
			<div class="content"
				style="background-color:#03A9F4;height:-webkit-fill-available;width:100%;border: 1px solid;padding:30px;">
				{% block content %}
				{% endblock content %}
			</div>
		</div>
	</div>
</body>
</html>